:root .has-large-font-size,
:root .has-small-font-size,
:root .has-medium-font-size,
:root .has-large-font-size,
:root .has-huge-font-size {
	line-height: 1.8
}

:root {
	--global--spacing-unit: 20px;
	--table--stripes-border-color: var(--global--color-light-gray);
	--table--stripes-background-color: var(--global--color-light-gray);
	--table--has-background-text-color: var(--global--color-dark-gray);
}

:root .widget-content .wp-block-group > ul,
:root .widget-content .wp-block-group > ol {
	padding-left: 0;
	margin: 0;
}

:root .footer-widgets .widget-content .wp-block-group > ul,
:root .footer-widgets .widget-content .wp-block-group > ol {
	list-style: none;
}

:root .wp-block-search {
	max-width: var(--responsive--aligndefault-width)
}

:root .wp-block-search__button-only.aligncenter .wp-block-search__inside-wrapper {
	justify-content: center
}

:root .wp-block-search .wp-block-search__input {
	max-width: inherit;
	margin-right: calc(-1 * var(--button--border-width));
	padding: var(--form--spacing-unit);
	margin-bottom: 0;
}

:root .wp-block-search__button {
	box-shadow: none
}

.desktop-only {
	display: none
}

:root .wp-block-image {
	text-align: center
}

:root .wp-block-image figcaption {
	color: var(--global--color-primary);
	font-size: var(--global--font-size-xs);
	line-height: var(--global--line-height-body);
	margin-top: calc(0.5 * var(--global--spacing-unit));
	margin-bottom: var(--global--spacing-unit);
	text-align: center
}

:root .wp-block-image .alignright {
	margin-left: var(--global--spacing-horizontal)
}

:root .wp-block-image .alignleft {
	margin-right: var(--global--spacing-horizontal)
}

:root .wp-block-image a:focus img {
	outline-offset: 2px
}

:root .entry-content > *[class=wp-block-image],
:root .entry-content [class*=inner-container] > *[class=wp-block-image] {
	margin-top: 0;
	margin-bottom: 0
}

:root .entry-content > *[class=wp-block-image] + *,
:root .entry-content [class*=inner-container] > *[class=wp-block-image] + * {
	margin-top: 0
}

:root .wp-block-image.is-style-twentytwentyone-border img,
:root .wp-block-image.is-style-twentytwentyone-image-frame img {
	border: calc(3 * var(--separator--height)) solid var(--global--color-border)
}

:root .wp-block-image.is-style-twentytwentyone-image-frame img {
	padding: var(--global--spacing-unit)
}

@media only screen and (min-width:482px) {
	:root .entry-content > .wp-block-image > .alignleft,
	:root .entry-content > .wp-block-image > .alignright {
		max-width: 50%
	}

}

@media only screen and (max-width:481px) {
	:root .entry-content > .wp-block-image > .alignleft,
	:root .entry-content > .wp-block-image > .alignright {
		margin-left: 0;
		margin-right: 0
	}

}

:root .alignleft {
	text-align: left;
	margin-top: 0
}

:root .entry-content > .alignleft {
	max-width: var(--responsive--aligndefault-width)
}

@media only screen and (min-width:482px) {
	:root .alignleft {
		float: left;
		margin-right: var(--global--spacing-horizontal);
		margin-bottom: var(--global--spacing-vertical)
	}

	:root .entry-content > .alignleft {
		max-width: calc(50% - var(--responsive--alignleft-margin))
	}

}

:root .aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center
}

:root .alignright {
	margin-top: 0;
	margin-bottom: var(--global--spacing-vertical)
}

:root .entry-content > .alignright {
	max-width: var(--responsive--aligndefault-width)
}

@media only screen and (min-width:482px) {
	:root .alignright {
		float: right;
		margin-left: var(--global--spacing-horizontal)
	}

	:root .entry-content > .alignright {
		max-width: calc(50% - var(--responsive--alignright-margin))
	}

}

:root [class*=inner-container] > .alignleft + *,
:root [class*=inner-container] > .alignright + * {
	margin-top: 0
}

:root .alignwide {
	clear: both
}

:root .alignfull {
	clear: both
}

:root .has-left-content {
	justify-content: flex-start
}

:root .has-right-content {
	justify-content: flex-end
}

:root .has-parallax {
	background-attachment: fixed
}

:root .has-drop-cap:not(:focus)::first-letter {
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	line-height: 0.66;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: 0.1em 0.1em 0 0;
	font-size: calc(1.2 * var(--heading--font-size-h1))
}

:root .has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: 14px
}

:root .wp-block-post-author .wp-block-post-author__bio{
	font: inherit;
}
:root .block-editor-block-list__layout .ctrl.ctrl-open{
	display: none;
}
